body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.app-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: calc(300px + 60px); /* 가로 길이 수정 */
}

.form-group-app {
  margin-bottom: 20px;
  margin-right: 30px;
}

.form-group-app input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group-app select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button-app {
  background-color: #ffcc00;
  color: #000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 30px;
}

.button-app:hover {
  background-color: #e5b200;
}

.login-button-app,
.signup-button-app {
  width: 100%;
  text-align: center;
}

.link-app {
  color: #3498db;
  text-decoration: none;
}

.link-app:hover {
  text-decoration: underline;
}
